<div id="map_legend">
  <div id="map_legend_prices"></div>
  <range-selector id="priceRange" min-range="0" max-range="<%= @listings.map(&:price).max.round(-6) %>" step-range="10000" number-of-legend-items-to-show="5" />
</div>
<div id="map"></div>

<script type="text/javascript">
  // range-selector hook
  window.addEventListener('range-changed', (e) => {
  console.log(e.detail)
    let minValue = Math.max(Math.round(e.detail.minRangeValue / 10000) * 10000, 1)
    let maxValue = Math.round(e.detail.maxRangeValue / 10000) * 10000

    document.dispatchEvent(new CustomEvent('range-set', {detail: {sliderId: e.detail.sliderId, minValue: minValue, maxValue: maxValue}}))

    var script = document.createElement('script')
    script.src = `/listings.js?min_price=${minValue}&max_price=${maxValue}`
    document.body.appendChild(script)
  })

  // Map initialization
  var map = L.map('map', {
    center: [49.19, -123.98],
    zoom: 13
  });
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  var markers = []
  var marker_icons = {
    <% 7.times do |i| j = i + 1 %>
      house<%= j %>: L.icon({
        iconUrl: '<%= image_path("house#{j}") %>',
        iconSize: [20,20],
        iconAnchor: [10,10]
      }),
    <% end %>
  }
</script>
<script src="/listings.js" />
