body {
    margin: 0;
    padding: 0;
}

#flash {
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: calc(50vw - 200px);
    width: 400px;
    margin: auto;

    animation: flashAnimation 5s forwards;

    div {
        text-align: middle;
        padding: 1em;
        border-radius: 1em;
    }

    .alert {
        background-color: #f77;
        border-color: #c00;
    }
    .notice {
        border: 2px solid;
        background-color: #7f7;
        border-color: #0c0;
    }
}
@keyframes flashAnimation {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#map {
    width: 100vw;
    height: 100vh;
}

.leaflet-marker-icon {
    height: 20px;
    width: 20px;
}
.leaflet-popup-content {
    .photo {
        width: 200px;
    }
    .icon {
        height: 12px;
        width: 12px;
    }
}

#map_legend {
    width: 500px;
    position: absolute;
    z-index: 800; /* compare with Leaflet z-index https://leafletjs.com/reference.html#map-pane */
    bottom: 10px;
    left: 10px;
    background: #eee;
    border: 2px solid #555;
    padding: 5px;
    img {
        height: 12px;
        width: 12px;
    }

    #map_legend_prices {
        text-align: center;
    }

    .double-ended-range {
        position: relative;
        input[type="range"] {
            width: 100%;
            margin: 0;
        }

        datalist {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            writing-mode: vertical-lr;
            width: 100%;
            option {
                padding: 0;
            }
        }

        /* Only compatible with firefox atm, see https://stackoverflow.com/questions/4753946/html-slider-with-two-inputs-possible */
        @-moz-document url-prefix() {
            input[type="range"]:nth-child(1) {
                position: relative;
                top: 0 !important;
                overflow: visible !important;
                height: 0;
                z-index: 1;
            }
            input[type="range"]:nth-child(2) {
                position: relative;
                top: -14px !important;
                overflow: visible !important;
                height: 16px;
            }
        }
    }
}

/* #mls_frame { position: absolute; top: 0; right: 0; height: 99%; flex: 0 0 500px; }
#map_legend table { margin: 0; }
#map_legend th, #map_legend td { padding: 0; margin: 0; }
.listing_info { width: 250px; }
.photo { float: left; } */
